body {
    background-color: #edeef0;
    margin: 0 !important;
}
.header {
    display: flex;
    height: 60px;
    background-color: #4a76a8;
    padding: 6px 20%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.header-item {
    margin: 0 10px;
    display: flex;
    color: #bfcee0;
    font-size: 28px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    cursor: pointer;
}
.header-item:hover {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.header-item.chosen {
    color: #ffffff;
}
.layout {
    width: 60%;
    margin: 0 20% 0 20%;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
.layout-picture-left {
    float: left;
    margin-right: 20px
}
.blazon {
    width: 150px;
}
.sight-picture {
    width: 300px;
}
.feedback {
    position: fixed;
    bottom: 0;
    left: 10px;
    width: 180px;
    height: 50px;
    margin-right: 15px;
    background-color: #4a76a8;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.feedback:hover {
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}